@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.font-lato {
    font-family: "Lato", sans-serif;
    font-style: normal;
}
html{
  scroll-behavior: smooth;
}

.button{
    border-radius: 16px;
    border : 1px solid rgba(14, 122, 129, 0.15); 
    padding:  24px 85px 24px 85px;
    font-weight: 700;
    font-size: 24px;
}

.pet-button{
    padding: 10px 20px;
    border: 1px solid #0E7A8126 ;
    color: #0E7A81;
    border-radius: 8px;
}